/*Desktop NULL*/
#aside-desktop {
    display: none;
}
#nav-desktop {
    display: none;
}
#map-desktop {
    display: none;
}
#map-tablette {
    display: none;
}
#search-desktop {
    display: none;
}
#ul-filtre-desktop {
    display: none !important;
}
#aside-icon-desktop {
    display: none;
}
#etoiles-desktop {
    display: none;
}
#etoiles-desktop2 {
    display: none;
}
#etoiles-desktop3 {
    display: none;
}
#etoiles-tablette {
    display: none;
}
#etoiles-tablette-2 {
    display: none;
}
#etoiles-tablette-3 {
    display: none;
}
#article-activite-2-tablette {
    display: none !important;
}
#article-activite-3-tablette {
    display: none !important;
}
#article-activite-5-tablette {
    display: none !important;
}
#article-activite-6-tablette {
    display: none !important;
}

body, h1, h2
{
    font-family: 'Raleway', Arial, sans-serif;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article
{
    flex: 3;
}

#bloc_page
{
    width: 340px;
    margin: auto;
}

/* Header */
header
{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 115px;
    height: 50px;
}

.sign-up-iphone8 {
    padding-top: 15px;
    font-size: 1em;
    text-decoration: none;
    color: #0065FC;
    font-weight: 800;
}

nav a span
{
    color: #0065FC;
    font-weight: bold;
}

nav a
{
    text-decoration: none;
}

.ul-iphone8
{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

/* Navigation */
#menu2 {
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 0px;
}

#nav2-iphone8 ul {
    padding-left:0px;
    margin-bottom: 0px;
    justify-content: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.a-hebergements {
    font-size: 1em;
    color: black;
    padding-bottom: 15px;
    padding-left: 37.6px;
    padding-right: 37.6px;
    text-decoration: none;
    font-weight:500;
    border-bottom: 3px solid#F2F2F2;
}
.a-activités {
    font-size: 1em;
    color: black;
    padding-bottom: 15px;
    padding-left: 62.15px;
    padding-right: 62.05px;
    text-decoration: none;
    font-weight:500;
    border-bottom: 3px solid #F2F2F2;
}
#menu2 nav a:hover
{
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
}


/* Recherche */
#recherche
{
    display: flex;
    margin-bottom: 20px;
    text-align:left;
}

#recherche h2
{
    font-weight:800;
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-top:0px;
}

#recherche p
{
    font-weight:500;
    font-size: 0.95em;
    margin-bottom: 20px;
    margin-top:0px;
}

#recherche form {
    display: flex;
    justify-content: center;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    max-width: 325px;
    margin-top: 30px;
}

#recherche .fa-map-marker-alt {
    background-color: #F2F2F2;
    color: black;
    padding: 18px 18px 18px 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}

#recherche .input-field {
    padding: 10px 10px 10px 15px;
    border: none;
    min-width: 150px;
    font-weight: bold;
    color: black;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.2em !important;
}

input::placeholder {
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
}

#recherche .search {
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#recherche .fa-search {
    color: white;
    padding: 18px 10px 18px 10px;

}

/* FILTRE */
#filtre
{
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

#filtre .filter {
    font-weight: 800;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;

}

#filtre ul
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

#filtre .fas {
    color: #0065FC;
    position: relative; 
    right: 10px;
    padding: 16px 14px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-right: 0px;
}

/* Pour le logo plus petit */
#filtre .fa-child {
    padding: 16px 16.5px;
}

/* Pour le logo plus grand */
#filtre .fa-money-bill-wave {
    padding: 16px 11.5px;
}

#filtre .fas:hover {
    color: #DEEBFF;
    background-color :#0065FC;
}

#filtre li
{
    border: solid 2px lightgrey;
    margin-bottom: 15px;
    padding-right: 18px;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 800;
    list-style: none;
}
.money {
    margin-right: 20px;
}
#filtre li:hover {
    background-color:  #DEEBFF;
}

/* INFO */
#info
{
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#info p
{   
    margin-top: 3.5px;
    font-weight:500;
    font-size: 0.95em;
}

#info .fa-info {
    color: #0065FC;
    font-size: 0.7em;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 30px;
    margin-right: 10px;
    padding: 6px 10px;
}

/* Herbergements à Marseille */
#HbMarseille {
    border-radius: 15px;
    flex:3;
    font-size: 0.9em;
    margin-top: 580px;
}

#HbMarseille h2 {
    font-weight: 800;
    font-size: 1.4em;
    margin-left: 0px;
}

#HbMarseille h3 {
    font-weight:800;
    font-size: 1.1em;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
}

#HbMarseille a {
    text-decoration: none;
}

#articles p {
    font-weight:500;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.seeMore {
    font-weight:800;
    font-size: 1.2em;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.prix-bold {
    font-weight: bold;
}

#HbMarseille article {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 0px;
    min-width: 218px;
    max-width: 650px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px lightgrey;
    background-color: white;
}

#HbMarseille img {
    width: 100%;
    max-height: 115px;
    min-width: 50px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#articles {
    display: flex;
    margin:0px auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}

#HbMarseille .etoiles {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.etoiles-bleu {
    color: #0065FC;
}

.etoiles-blanche {
    color: lightgrey;
}

#HbMarseille .fa-star {
    padding: 0px;
}


/* Plus populaires */
#hautaside-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
    margin-right: 20px;

}
.fa-chart-line:before {
    font-size: 1.2em;
}
#aside-iphone8
{   
    display: block;
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 20px;
    color: black;
    font-size: 0.9em;
    width: 100%;
    left:0;
    position:absolute;
}

#aside-iphone8 h2 {
    font-weight: 800;
    font-size: 1.4em;
}

#articles-aside-2 {
    display: flex;
    flex-direction: column;
    margin:0px auto;
}

#articles-aside-2 img {
    flex: 0 0 40%;
    min-height: 130px;
    max-height: 130px;
    min-width: 80px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#articles-aside-2 article {
    box-shadow: 5px 5px 10px 3px lightgrey;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
}

#aside-iphone8 a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.article-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-left:10px;
    margin-left:10px;
    margin-top: 0px;
}

.article-aside h3 {
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 5px;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.article-aside p {
    font-weight:500;
    font-size: 1em;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: black;
}

.article-aside .etoiles {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:0.7em;
}
#aside-icon-tablette {
    display: none !important;
}


/* Activités Marseille */
#ActiviteMarseille h2 {
    font-weight: 800;
    font-size: 1.4em;
    margin-left: 0px;
    margin-bottom: 10px;
}

#ActiviteMarseille {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

#ActiviteMarseille img {
    width: 100%;
    max-height: 100px;
    max-width: 360px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#activites-articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px !important;
}

#activites-articles a {
    text-decoration: none;
}

#activites-articles h3 {
    padding: 10px;
    font-weight:800;
    font-size: 1em;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

#activites-articles img {
    min-width: 340px;
}

#activites-articles article {
    min-width: 340px;
    max-width: 340px;
    max-height: 392px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 3px lightgrey;
} 

.img-size-h {
    min-height: 130px;
}

.img-size-m {
    min-height: 130px;
}

.img-size-s {
    min-height: 130px;
}

.img-size-half {
    min-height: 130px;
}

.article-activite-1 {
    margin-top: 20px;
    margin-bottom: 30px;
    max-height: 410px !important;
    min-height: 193px !important;
}

.article-activite-2 {
    margin-bottom: 30px;
    max-height: 410px !important;
    min-height: 193px !important;
}

.article-activite-3 {
    margin-bottom: 30px;
    max-height: 410px !important;
    min-height: 193px !important;
}

.article-activite-4 {
    margin-bottom: 30px;
    min-height: 193px !important;
}

.article-activite-5 {
    margin-bottom: 30px;
    max-height: 410px !important;
    min-height: 193px !important;
}

.article-activite-6 {
    margin-bottom: 30px;
    max-height: 410px !important;
    min-height: 193px !important;
}

/* Footer */
footer
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-top: 20px;
    width: 100%;
    left:0;
    position:absolute;
    padding-bottom: 15px;

}

footer p
{
    font-size: 1em;
    font-weight: 500;
    margin-left: 25px;
}

footer h2
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 25px;
}

#about
{
    margin-bottom: 30px;
}

#hebergements
{
    margin-bottom: 30px;
}

#assitance
{
    margin-bottom: 30px;
}