/* Eléments principaux de la page */

body, h1, h2
{
    font-family: 'Raleway', Arial, sans-serif;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article
{
    flex: 3;
}

#bloc_page
{
    width: 1240px;
    margin: auto;
}

/* Header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 100%;
    height: 100%;
}

/* Navigation */
nav
{
    margin-top: 15px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

/* nav li sauf dernier à droite */
#leftli {
    margin-right: 45px;
}

nav a
{
    font-size: 0.80em;
    color: black;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-weight:500;
}

nav a span
{
    color: #0065FC;
    font-weight: bold;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Recherche */
#recherche
{
    display: flex;
    margin-bottom: 20px;
    text-align: justify;
}

#recherche h1
{
    font-weight:800;
    font-size: 1.1em;
    margin-bottom: 8px;
}

#recherche p
{
    font-weight:500;
    font-size: 0.8em;
    margin-top:0px;
}

#recherche form {
    display: flex;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    justify-content: space-between;
    max-width:353px;
    margin-top: 20px;
}

#recherche .fa-map-marker-alt {
    background-color: #F2F2F2;
    color: black;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#recherche .input-field {
    padding: 15px;
    border: none;
}

input::placeholder {
    font-weight:750;
    color: black;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.1em;
}

#recherche .search {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight:500;
    font-size: 1em;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/* FILTRE */
#filtre
{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

#filtre .filter {
    font-weight:800;
    font-size: 0.9em;
    margin-right: 30px;

}

#filtre ul
{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0px;
}

#filtre .fas {
    color: #0065FC;
    position: relative; 
    right: 6px;
    padding: 15px 16px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-right: 8px;
}

/* Pour le logo plus petit */
#filtre .fa-child {
    padding: 15px 18px;
}

/* Pour le logo plus grand */
#filtre .fa-money-bill-wave {
    padding: 15px 14px;
}

#filtre .fas:hover {
    color: #DEEBFF;
    background-color :#0065FC;
}

#filtre li
{
    border: solid 2px lightgrey;
    margin-right: 30px;
    padding-right: 18px;
    border-radius: 25px;
    font-size: 0.9em;
    font-weight:800;
    list-style: none;
}

#filtre li:hover {
    background-color:  #DEEBFF;
}

/* INFO */
#info
{
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#info p
{
    font-weight:500;
    font-size: 0.9em;
}

#info .fa-info {
    color: #0065FC;
    font-size: 0.7em;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 25px;
    margin-right: 10px;
    padding: 5px 8px;
}

/* Herbergements à Marseille */
#HbMarseille {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
    flex:3;
    font-size: 0.9em;
}

#HbMarseille h2 {
    font-weight:800;
    font-size: 1.3em;
    margin-left: 15px;
    margin-top: 20px;
}

#HbMarseille h3 {
    font-weight:800;
    font-size: 1.1em;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
}

#HbMarseille a {
    text-decoration: none;
}

#articles p {
    font-weight:500;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.seeMore {
    font-weight:800;
    font-size: 1.1em;
    margin-left: 15px;
    margin-top: 15px;
}

.prix-bold {
    font-weight: bold;
}

#HbMarseille article {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    min-width: 218px;
    max-width: 650px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px lightgrey;
    background-color: white;
}

#HbMarseille img {
    width: 100%;
    max-height: 125px;
    min-width: 50px;
    object-fit: cover; /* Affichage img */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#articles {
    display: flex;
    margin:0px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}

#HbMarseille .etoiles {
margin-left: 10px;
margin-top: 5px;
margin-bottom: 5px;
}

.etoiles-bleu {
    color: #0065FC;
}

.etoiles-blanche {
    color: lightgrey;
}

#HbMarseille .fa-star {
    padding: 0px;
}


/* Plus populaires aside */
#hautaside {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;

}

aside
{
    flex: 1.1;
    position: relative;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
    margin-left:30px;
}

aside h2 {
    font-weight:800;
    font-size: 1.3em;
}

#articles-aside {
    display: flex;
    flex-direction: column;
    margin:0px auto;
}

#articles-aside img {
    flex: 0 0 40%;
    min-height: 150px;
    max-height: 150px;
    min-width: 135px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#articles-aside article {
    box-shadow: 5px 5px 10px 3px lightgrey;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
}

aside a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
}

#article-aside {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5px;
padding-left:10px;
margin-right:9px;
}

#article-aside h3 {
    font-weight:800;
    font-size: 1.1em;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 35px;
    margin-bottom: 5px;
}

#article-aside p {
    font-weight:500;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

#article-aside .etoiles {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Activités Marseille */
#ActiviteMarseille h2 {
    font-weight:800;
    font-size: 1.2em;
    margin-bottom: 30px;
}

#ActiviteMarseille {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#ActiviteMarseille img {
    width: 100%;
    max-height: 100px;
    max-width: 360px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activites-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 45px !important;
}

#activites-articles a {
    text-decoration: none;
}

#activites-articles h3 {
    padding: 5px;
    font-weight:700;
    font-size: 1em;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
}

#activites-articles img {
    min-width: 240px;
}

#activites-articles article {
    min-width: 240px;
    max-width: 275px;
    max-height: 650px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px lightgrey;
} 

.img-size-h {
    min-height: 355px;
}

.img-size-m {
    min-height: 165px;
}

.img-size-s {
    min-height: 50px;
    max-height: 95px !important;
}

.img-size-half {
    min-height: 130px;
}

.article-activite-1 {
    margin-right: 30px;
    max-height: 410px !important;
}

.article-activite-2 {
    min-height: 220px !important;
    max-height: 220px !important;
    margin-bottom: 40px !important;
}

.article-activite-3 {
    min-height: 150px !important;
    max-height: 150px !important;
}

.article-activite-4 {
    margin-left: 30px;
    margin-right: 30px;
    max-height: 410px !important;
}

.article-activite-5 {
    min-height: 185px !important;
    max-height: 185px !important;
    margin-bottom: 40px !important;
}

.article-activite-6 {
    min-height: 185px !important;
    max-height: 185px !important;
}

/* Footer */
footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-top: 25px;
    width: 100%;
    left:0;
    position:absolute;
    padding-bottom: 25px;
}

footer p
{
    font-size: 0.8em;
    font-weight:500;
}

footer h2
{
    font-size: 1em;
    margin-bottom: 20px;
}

#about
{
    width: 33%;
    margin-left: 55px;
}

#hebergements
{
    width: 33%;
}

#assitance
{
    width: 33%;
}
